{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block demonstration %} <!-- this is the name of the block below -->
<div class="container">
        <div class="starter-template" style="background-color: black; color: green;height:200vh">
          <div class="row" style="height:100vh">
                  <div class="col-md-10 col-md-offset-1">
                      <table class="table" style="background-color: black;border:2px dashed green;">
                        <h3>10 recent alerted transactions</h3>
                        <thead >
                          <tr>
                            <th style="border:2px dashed green">time</th>
                            <th style="border:2px dashed green">c_id</th>
                            <th style="border:2px dashed green">c_zip</th>
                            <th style="border:2px dashed green">c_balance</th>
                            <th style="border:2px dashed green">c_limit</th>
                            <th style="border:2px dashed green">c_tvl</th>
                            <th style="border:2px dashed green">t_id</th>
                            <th style="border:2px dashed green">t_amount</th>
                            <th style="border:2px dashed green">lc_t_zip</th>
                            <th style="border:2px dashed green">ol_bill_zip</th>
                            <th style="border:2px dashed green">msg</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for val in alerted_output %}
                          <tr>
                            <td style="border:2px dashed green">{{val.time}}</td>
                            <td style="border:2px dashed green">{{val.c_id}}</td>
                            <td style="border:2px dashed green">{{val.c_zip}}</td>
                            <td style="border:2px dashed green">{{val.c_balance}}</td>
                            <td style="border:2px dashed green">{{val.c_limit}}</td>
                            <td style="border:2px dashed green">{{val.c_tvl}}</td>
                            <td style="border:2px dashed green">{{val.t_id}}</td>
                            <td style="border:2px dashed green">{{val.t_amount}}</td>
                            <td style="border:2px dashed green">{{val.lc_t_zip}}</td>
                            <td style="border:2px dashed green">{{val.ol_bill_zip}}</td>
                            <td style="border:2px dashed green">{{val.msg}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <table class="table" style="background-color: black;border:2px dashed green;">
                        <h3>10 recent transactions</h3>
                        <thead >
                          <tr>
                            <th style="border:2px dashed green">time</th>
                            <th style="border:2px dashed green">c_id</th>
                            <th style="border:2px dashed green">c_zip</th>
                            <th style="border:2px dashed green">c_balance</th>
                            <th style="border:2px dashed green">c_limit</th>
                            <th style="border:2px dashed green">c_tvl</th>
                            <th style="border:2px dashed green">t_id</th>
                            <th style="border:2px dashed green">t_amount</th>
                            <th style="border:2px dashed green">lc_t_zip</th>
                            <th style="border:2px dashed green">ol_bill_zip</th>
                            <th style="border:2px dashed green">msg</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for val in all_output %}
                          <tr>
                            <td style="border:2px dashed green">{{val.time}}</td>
                            <td style="border:2px dashed green">{{val.c_id}}</td>
                            <td style="border:2px dashed green">{{val.c_zip}}</td>
                            <td style="border:2px dashed green">{{val.c_balance}}</td>
                            <td style="border:2px dashed green">{{val.c_limit}}</td>
                            <td style="border:2px dashed green">{{val.c_tvl}}</td>
                            <td style="border:2px dashed green">{{val.t_id}}</td>
                            <td style="border:2px dashed green">{{val.t_amount}}</td>
                            <td style="border:2px dashed green">{{val.lc_t_zip}}</td>
                            <td style="border:2px dashed green">{{val.ol_bill_zip}}</td>
                            <td style="border:2px dashed green">{{val.msg}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
          </div>
        </div>
      </div>
{% endblock %}
