{% extends "base.html" %}
{% block index %}
    <div class="container">
      <div class="starter-template">
        <h1>Credit Card Transaction Alert</h1>
        <p class="lead">A real time credit card transaction monitoring platform </p>
        <img id="visa_master_amex" src="../static/images/cc1024_762.jpg" alt="Credit Card Logos" style="width:220;height:165px;margin:50px" align="middle">
        <img id="credit_cards" src="../static/images/credit_cards.jpg" alt="Credit Card Logos" style="width:220;height:165px;margin:50px" align="middle">        
      </div>
      <div align="middle">
        <img src="../static/images/insight.png" alt="Insight Data Science" style="width:200px;height:74px;margin:20px" align="middle"><br>
        <a href="http://insightdatascience.com/" target="_blank">Insight Data Engineering Program</a>
        <p style="font-size:120%;">Copyright © 2017, Hao Wu</p>
      </div>
    </div>
 {% endblock %}