{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block technical_pipeline %} <!-- this is the name of the block below -->
<img src="../static/images/pipeline.png" alt="technical pepeline" style="width:644px;height:400px;margin-left:25%;margin-top:5%" align="middle">
<div style="width:800px; margin:auto">
    <p class="tech" style="font-size:120%;">
        <a style="margin:10px" href="https://aws.amazon.com/s3/" target="_blank">Amazon S3</a>
        <a style="margin:10px" href="https://spark.apache.org/streaming/" target="_blank">Spark Streaming</a>
        <a style="margin:10px" href="https://kafka.apache.org/" target="_blank">Apache Kafka</a>
        <a style="margin:10px" href="https://www.mysql.com/" target="_blank">MySQL</a>
        <a style="margin:10px" href="http://flask.pocoo.org/" target="_blank">Flask</a>
        <a style="margin:10px" href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
    </p>
</div>
{% endblock %}